<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<section>
		<div id="login">

			<div class="container">
				<div id="login-row" class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-6">
						<div id="login-box" class="col-md-12 m-5" style="box-shadow: 2px 2px 2px; height: 200px;">

							<div th:if="${session.message}" class="container">
								<div class="alert alert-danger my-2" role="alert">
									<p class="text-center" th:text="${session.message}"></p>
									<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
									<!--<th:block th:text="${#session.removeAttribute('message')}"></th:block>-->
								</div>

							</div>


							<h3 class="text-center m-3">Your Registered Email</h3>

							<form action="" th:action="@{/send-otp}" method="post">
								<div class="form-group">
									<input required="required" name="email" type="email" placeholder="Enter email here"
										class="form-control" />
								</div>
								<div class="container text-center">
									<button class="btn btn-warning">Send OTP</button>
								</div>

							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>