<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title>this is about page</title>
</head>

<body>
	<section>
		<div class="container-fluid mt-1 p-2">
			<div class="row">
				<div class="col-md-8 offset-md-2" style="background: #efefef;">
					<div class="my-card mt-2">

						<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
								<p class="text-center" th:text="${session.message.content}"></p>
					<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
								<!--<th:block th:text="${#session.removeAttribute('message')}"></th:block>-->
						</div>


						<div class="container text-center mb-2">
							<img class="image-fluid" th:src="@{/img/registration.png}" alt="img" style="width:122px ;border-radius: 30%;"/>
						</div>
						
						<h1 class="text-center bg-primary text-white"
							style="font-weight: 800; font-family: 'Times New Roman', Times, serif; color: rgb(0, 102, 193);">
							Register Here</h1>


						<form novalidate action="" th:action="@{/do_register}" method="post" th:object="${user}">

							<div class="form-group">
								<label for="userName">Your Name</label>
								<input type="text" name="name" class="form-control" id="userName"
									th:value="${user.name}" aria-describedby="emailHelp" placeholder="Enter username"
									th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''"
									required>
									
									<div class="invalid-feedback" th:each="e : ${#fields.errors('name')}">
										<p th:text="${e}"></p>
									</div>
							</div>

							<div class="form-group">
								<label for="emailAddress">Email address</label>
								
								<input type="email" name="email" class="form-control" id="emailAddress"
									th:value="${user.email}" aria-describedby="emailHelp" placeholder="Enter email"
									required>
                                    <!--th:classappend="${#fields.hasErorrs('email')} ? 'is-invalid' : ''"-->
									
									<!--<div class="invalid-feedback" th:each="e : ${#fields.errors('email')}">
										<p th:text="${e}"></p>
									</div>-->
							</div>

							<div class="form-group">
								<label for="exampleInputPassword1">Password</label>
								<input type="password" name="password" class="form-control" id="exampleInputPassword1"
									placeholder="Password"
									th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''"
									required>
									
									<div class="invalid-feedback" th:each="e : ${#fields.errors('password')}">
										<p th:text="${e}"></p>
									</div>
									<small class="text-danger" th:text="${newPassError}"></small>
							</div>

							<div class="form-group">
								<textarea class="form-control" name="about" id="" rows="8" th:value="${user.about}"
									placeholder="Enter something yourself"></textarea>
							</div>

							<div class="form-check form-group text-center">
								<input type="checkbox" name="agreement" class="form-check-input" id="agreement">
								<label class="form-check-label" for="agreement">Accept terms and condotions</label>
							</div>
							
							
							<div class="container text-center">
								<button type="submit" class="btn bg-primary text-white btn-block">Submit</button>
								<button type="reset" class="btn btn-warning text-white btn-block">Reset</button>
							</div>
						</form>


					</div>
				</div>
			</div>
		</div>

	</section>
</body>

</html>